*{
    margin: 0;
    padding: 0;

}
body{
    background: #222;
    color: #fff;
    font-family: system-ui; 
}
.cruds {
    width: 80%;
    margin: auto;
}
.head {
    text-align: center;
    text-transform: uppercase;
    margin:  10px  0;
}
input{
    width: 100%;
    height: 25px;
    outline: none;
    border: none;
    background: #111;
    margin: 4px 0;
    border-radius: 4px;
    padding: 4px;
    color: #fff;
}
input:focus {
    background: #000;
    transform: scale(1.1);
}
.price input {
 width: 20% ;

}
#total {
    background: #a00d02;
    padding: 4px  2px ;
    border-radius: 5px;

}
#total::before {
    content: 'total:  ';
}
button{
    width: 100%;
    height: 30px;
    border: none;
    cursor: pointer;
   border-radius: 20px;
   background:#a205f6;
   color:#fff;
   transition: 0.5s;

}
#deleteAll {
    margin: 20px 0;

}
button:hover {
    background:#8e03b4;
    letter-spacing: 1px ;
}
.btnsearch {
    display: flex;
    justify-content: space-between;
}
.btnsearch button{
    width: 45%;

}
table {
    width: 100%;
    text-align: center;
    margin: 10px 0;
    
}
table th {
    text-transform: uppercase;
}
th,td {
   padding: 5px; 
}
